
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/palatino-lt-black');

*
	font-family: "Palatino LT Light", Calibri
	color: #333
	line-height: 1.4;
	text-align: justify;

p
	font-weight: 200
	font-size: 19px

h1,h2,h3,h4
	font-weight: 400
	font-size: 28px
	text-align: center

h2:after
	border-bottom: 1px solid #2f2f2f
	content: ''
	width: 100px
	display: block
	margin: 0 auto
	height: 1px

:root
	--primary-color: #2f2f2f

body
	background-color: initial

main
	background-color: initial

.a-title
	text-align: center
	font-size: 2.5rem
	margin-bottom: 2rem !important

.a-subtitle
	text-align: center
	display: none

.eren-header
	font-weight: 400
	font-size: 19px
	text-align: center
	margin-top: 1rem
	margin-bottom: 1rem
	margin-left: auto
	margin-right: auto
	width: 100%